In [1]:
import pandas
import datetime

In [2]:
colNames = [ "dateStr", "timeStr", "MLAT", "MLT",\
            "vel", "azims", "stIds", "poesMLAT1", "poesMLAT2" ]
esDF = pandas.read_csv( "../data/east-saps-north-2011-2014.txt",\
                       delim_whitespace=True, header=None,\
                      names=colNames)
esDF.head()

/usr/local/lib/python2.7/dist-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (6,7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,dateStr,timeStr,MLAT,MLT,vel,azims,stIds,poesMLAT1,poesMLAT2
0,20110101,700,56.5,1.8816,646.2470,90.6797,33.0000,67.1833,67.0988
1,20110101,800,54.5,2.7046,714.3559,90.3934,33.0000,66.3544,66.5381
2,20110101,800,54.5,2.8194,723.4858,90.3635,33.0000,66.3544,66.5381
3,20110101,800,55.5,2.6863,673.4401,91.1488,33.0000,66.3544,66.5381
4,20110101,800,55.5,2.8039,680.2266,91.0594,33.0000,66.3544,66.5381

In [7]:
# get counts of datetime measurements
esCntDate = esDF[ esDF["MLT"] > 12. ].groupby( ["dateStr", "timeStr" ] ).size().reset_index()
esCntDate.columns = [ "dateStr", "timeStr", "cnt" ]
esCntDate = esCntDate.sort( ["cnt"], ascending=False ).reset_index(drop=True)
esCntDate.head(20)

/usr/local/lib/python2.7/dist-packages/ipykernel_launcher.py:4: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  after removing the cwd from sys.path.

     dateStr  timeStr  cnt
0   20121213      430   76
1   20120216      230   71
2   20111204      430   65
3   20120127      430   61
4   20121217      330   59
5   20120117      400   58
6   20121102      100   57
7   20120206      400   56
8   20131215      530   56
9   20130425      430   55
10  20130227      430   52
11  20131016      400   51
12  20130226      530   51
13  20130425      600   51
14  20121221      330   50
15  20120205      500   50
16  20131117      500   49
17  20130227      500   48
18  20121101     2330   48
19  20111204      330   48

In [8]:
print esDF[ esDF["MLT"] > 12. ].head(10)

      dateStr  timeStr  MLAT      MLT       vel    azims     stIds poesMLAT1  \
22   20110102        0  52.5  17.9895  736.4379  87.7135   33.0000   70.8631
91   20110103      230  51.5  17.8044  319.8755  88.4242  207.0000   64.6311
92   20110103      230  51.5  17.9115  320.0269  88.7845  207.0000   64.6311
93   20110103      230  50.5  17.8851  461.8746  89.1336  207.0000   64.6311
94   20110103      230  50.5  17.9899  460.8201  89.7083  207.0000   64.6311
122  20110103     1730  53.5  12.0891  485.4949  75.4062   33.0000   64.9828
167  20110105     2330  50.5  17.9090  725.6099  88.6207   33.0000   58.7200
210  20110107      400  50.5  22.3374  284.6278  91.8596   33.0000   62.8982
211  20110107      400  51.5  22.3198  225.3106  91.4057   33.0000   62.8982
212  20110107      400  51.5  22.2127  228.5635  91.2059   33.0000   62.8982

     poesMLAT2
22     70.0268
91     64.3646
92     64.3646
93     64.3646
94     64.3646
122    65.0436
167    60.3447
210    62.7995
211    62.7995
212    62.7995